{% block body %}
{% if session['logged_in'] %}
<title>Login transparent</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_welcome.css') }}">
</head>
<body>
	<div class="login-box">		
		<img src="./static/images/avatar.png" class="avatar">	
		<br><br><br>
			<h1>! WELCOME TO TEST !</h1>	
				<center><a href="/logout">LOGOUT</a></center>						
			</form>
		
	</div>	
{% else %}
<link rel="stylesheet" href="/static/style.css" type="text/css">
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
{% endif %}
{% endblock %}

